@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.feed-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  gap: 50px;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.feed-row{
  display: flex;
  gap: 30px;
}

.feed-image{
  width: 45%;
  border-radius: 25px 25px;
}

.feed-text{
  width: 55%;
  font-weight: 600;
  text-align: left;
}

.feed-title{
  font-size: 1.2rem;
  display: block;
  display: -webkit-box;
  color: rgb(65, 65, 65);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90px;
  /* white-space: nowrap; */
}

.feed-date{
  color: grey;
  display: block;
}

@media screen and (max-width: 600px) {
  .feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feed-row{
    display: flex;
    flex-direction: column;
  }
  .feed-image{
    width: 100%;
    border-radius: 10px 10px;
  }
  .feed-text{
    width: 100%;
  }
}